<svg width="800px" height="800px" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
   
    <rect x="1" y="3" width="13" height="7" fill="black"/>
 
    <rect x="4" y="2" width="7" height="1.5" fill="#black"/>
  
    <rect x="3" y="4" width="2" height="3" fill="white"/>
    <rect x="6" y="4" width="2" height="3" fill="white"/>
    <rect x="9" y="4" width="2" height="3" fill="white"/>
    
    <circle cx="3" cy="10" r="1" fill="black"/>
    <circle cx="12" cy="10" r="1" fill="black"/>
  </svg>
  